.header{
    position: sticky;
    top:0;
    background-color: #1e3f66 !important;
    width: 100%;
    color: white;
    padding: 5px;
}

.field> input{
    outline-style: None;
    border-style: none;
    border-top: 0px;
    width: 50%;
}

.field{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px;
}